@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;

  .signup__link {
    color: white;
  }
}

section {
  margin-bottom: 100px;
}

body {
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  font-weight: bold;
}

.treact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.treact__logo {
  flex: 1;
  width: 100%;
  margin-right: 16px;
  max-height: 50vh;
  max-width: 40px;
}

.treact {
  text-decoration: none;
}

.container {
  padding: 80px 0;
}

.purple {
  color: rgb(100, 21, 255, 1);
}

/* 

NAV BAR

*/

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav__links {
  display: flex;
  margin-left: 400px;
  list-style: none;
  text-decoration: none;
}

.nav__link {
  margin: 24px;
  padding-top: 10px;
  text-decoration: none;
}

.login__link {
  display: flex;
  margin-left: 40px;
  margin-right: 0;
  text-decoration: none;
}

.signup__link {
  display: flex;
  padding: 10px 32px;
  background-color: rgb(100, 21, 255, 1);
  border-radius: 9999px; /**/
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
}

.purple__boarder {
  display: flex;
  padding: 12px 32px 12px 32px;
  background-color: rgb(100, 21, 255, 1);
  border-radius: 40px; /**/
  overflow: hidden;
}

/* 

Landing page

*/

.two__column--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left__column {
  width: 40%;
}

.left__header {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  line-height: 1.25;
  font-size: 36px;
}

.left__paragraph {
  display: flex;
  color: #243e24;
  font: 16px;
  line-height: 1.5;
  width: 100%;
  max-width: 500px;
  margin: 50px 0px;
  font-size: 16px;
  font-weight: 500;
}

.btn__wrapper {
  position: relative;
  width: 100%;
  margin-top: 20px;
  z-index: 3;
}

.left__column--input {
  padding: 20px 32px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #e5e7eb;
  border-radius: 100px;
  border-color: rgba(40, 66, 144, 0.6);
  width: 100%;
  max-width: 400px;
  background-color: transparent;
}

.btn {
  width: 160px;
  border-radius: 9999px;
  background-color: #6315ff;
  border-color: #8245fd71;
  text-align: center;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
}

.get__started {
  position: absolute;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-left: 240px;
  padding: 10px 0;
  right: 6px;
  top: 6px;
  text-align: center;
  width: 160px;
  border-radius: 9999px;
  background-color: #6315ff;
  border-color: #8245fd71;
  text-align: center;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
}

.btn__general {
  padding: 10px 0;
  margin-top: 20px;
  margin-right: 80px;
  width: 160px;
  border-radius: 9999px;
  background-color: #6315ff;
  border-color: #8245fd71;
  text-align: center;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
}

.btn:hover {
  cursor: pointer;
}

.company__logos--container {
}

.Company__title {
  color: rgb(160 174 192);
  padding-bottom: 20px;
  margin-top: 80px;
}

.company__logos {
  width: 100%;
  margin-top: 16px;
  opacity: 0.5;
}

.right__column {
  width: 60%;
  align-items: center;
  justify-content: center;
}

.img--container {
  width: 100%;
  height: 100%;
}

/* 

Features

*/

.features__center {
  align-items: center;
}

.features__title--wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 300px;
  width: 100%;
  max-width: 600px;
}

.page__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
}

.page__tagline {
  font-size: 48px;
  margin-bottom: 32px;
  font-weight: 900;
}

.page__lorem {
  margin-top: 32px;
  opacity: 0.5;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  display: flex;
  width: calc(100% / 3);
  height: 100%;
  max-height: 24px;
  margin-bottom: 80px;
  margin-top: 120px;
}

.service__title {
  margin-bottom: 8px;
  font-weight: 900;
}

.service__description {
  display: flex;
  color: #7c8ba1;
  width: 70%;
  line-height: 2;
  margin: 8px 16px 20px 20px;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
}

.service__img {
  padding: 15px;
  height: 60px;
  width: 60px;
  border: 1px solid rgb(226, 232, 240);
  text-align: center;
  border-radius: 99999px;
}

/* 

Quality

*/

.df {
  display: flex;
  width: 100%;
}

.quality__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.example {
  width: 50%;
}

.description {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.6;
  color: #7c8ba1;
  opacity: 0.5;
}

/* 

Steps

*/

.steps__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example__steps {
  width: 50%;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.step {
  margin-top: 32px;
  display: flex;
}

.step__title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #718096;
  margin: 12px 0px 0px 20px;
  font-weight: 600;
  line-height: 2;
}

.step__number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 600;
  line-height: 1;
}

/* 

Values

*/

.small__para {
  display: flex;
  margin-top: 20px;
}

.aligner {
  display: flex;
}

.affordable {
  font-size: 16px;
  margin-top: 12px;
  color: #898a8a;
  font-weight: 400;
}

.professional {
  font-size: 16px;
  margin-top: 12px;
  color: #898a8a;
  font-weight: 400;
}

.aligner__header {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.fa-dollar-sign {
  padding: 8px 10px;
  background-color: #9ae6b4;
  border-radius: 50%;
  color: #a2a9aa;
  margin-right: 12px;
}

.fa-briefcase {
  padding: 8px 10px;
  background-color: #feb2b2;
  border-radius: 50%;
  color: #9b2c2c;
  margin-right: 12px;
}

/* 

Pricing

*/

.pricing__title {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description__pricing {
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  margin-left: 300px;
  margin-bottom: 48px;
  line-height: 24px;
}

.plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  border: 2px solid #d3d5d5;
  margin-left: 12px;
  margin-bottom: 48px;
  max-width: 350px;
  height: auto;
  text-align: center;
  border-radius: 10px;
  text-align: center;
}

.color__top--green {
  height: 14px;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.color__top--red {
  height: 14px;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.individuals h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1a202c;
  margin: 28px 0;
}

.individuals ul li {
  line-height: 48px;
  list-style: none;
}

.plan h2 {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
  margin-top: 48px;
}

.plan h1 {
  font-size: 48px;
  color: #1a202c;
  margin: 16px 0px;
  font-weight: 800;
}

.banner h3 {
  font-size: 18px;
  font-weight: 700;
  color: #898a8a;
  margin-bottom: 28px;
}

.price__button {
  font-size: 14px;
  font-weight: 600;
  padding: 16px 48px;
  border-radius: 50px;
  border: none;
  margin: 24px 0px;
}

.buy__card1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: white;
}

.small__businesses {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.c2 h3 {
  color: white;
}
.c2 h1 {
  color: white;
}
.c2 h2 {
  color: white;
}

.c2 li {
  color: white;
}

.buy__card2 {
  color: #6416ff;
  background-color: white;
}

.buy__card3 {
  color: white;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.c2 {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

/* 

Testimonial

*/

.testimonial__wrapper {
  width: 100%;
  display: flex;
}

.testimonial__img {
  width: 50%;
  margin-right: 64px;
}

.testimonial__text--wrapper {
  width: 50%;
}

.Test__description {
  margin-bottom: 48px;
}

.test__card {
  padding: 15px;
  border: 1px solid rgb(234, 232, 232);
  border-radius: 10px;
}

.test__card--wrappr {
  margin-top: 24px;
}

.stars {
  margin-bottom: 12px;
}

.test__card--title {
  font-size: 20px;
  margin-bottom: 16px;
}

.test__card--desc {
  font-size: 16px;
}

.test--user {
  display: flex;
  align-items: center;
}

.profile-img {
  margin: 24px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 9999px;
  width: 80px;
}

.move__btn {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}

.divider {
  background-color: #898a8a;
  height: 20px;
  width: 1px;
}

.Back,
.Front {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 0px 5px;
  border: none;
  color: #6416ff;
  font-size: 16px;
  font-weight: 700;
}

/* 

CTA

*/

.box {
  background-color: #6416ff;
  width: 1060px;
  height: 282px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.left__text {
  font-size: 30px;
  font-weight: 800;
  color: white;
  max-width: 35rem;
}

.btn__wrapper {
  display: flex;
}

.btn__wrapper,
.orange,
.btn__transparent {
  padding: 20px 50px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.orange {
  border: none;
  background-color: #f56565;
  margin-right: 10px;
}

.btn__transparent {
  border: 1px solid white;
  background-color: transparent;
  margin-left: 10px;
}

/* 

Footer

*/

footer {
  min-height: 60vh;
  background-color: #6416ff;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.link__wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  justify-content: space-between;
}

.link__title {
  margin-right: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 38px;
}

.link {
  list-style-type: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 3;
  margin: 0px 40px;
}

.split {
  margin: 48px;
  background-color: rgb(246, 246, 246);
  height: 0.2px;
  width: 90%;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.company {
  display: flex;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.company img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.copyright {
  color: white;
  font-weight: 400;
}

.social__media {
  display: flex;
  width: 16%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.logoo {
  height: 48px;
  width: 48px;
  font-size: 28px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
