@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;

  .signup__link {
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  position: relative;
}

section {
  margin-bottom: 100px;
}

body {
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  font-weight: bold;
  margin-top: 32px;
}

.treact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.treact__logo {
  flex: 1;
  width: 100%;
  margin-right: 16px;
  max-height: 50vh;
  max-width: 40px;
}

.treact {
  text-decoration: none;
  font-weight: 700;
}

.container {
  padding: 80px 0;
}

.purple {
  color: rgb(100, 21, 255, 1);
}

/* 

NAV BAR

*/

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.fas .fa-bars {
  font-weight: 900;
}

.btn__menu {
  opacity: 0;
  border: none;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 12px;
  margin: 12px;
  top: 0;
  bottom: 100;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease; /* smooth transition */
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}

.nav__link--primary {
  background-color: #6315ff;
  color: white;
  font-size: 24px;
  padding: 8px;
  border-radius: 24px;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
}

.menu__list {
  padding: 12px 0;
  list-style: none;
}

.nav__links {
  display: flex;
  margin-left: 400px;
  list-style: none;
}

.nav__link {
  margin: 24px;
  padding-top: 10px;
  color: black;
}

.link__hover--effect::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover--effect:hover:after {
  width: 100%;
  left: 0;
}


.login__link {
  display: flex;
  margin-left: 40px;
  margin-right: 0;
  text-decoration: none;
}

.signup__link {
  padding: 8px 0;
  width: 120px;
  border-radius: 9999px;
  background-color: #6315ff;
  border-color: #8245fd71;
  text-align: center;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
  transition: 300ms ease;
}

.signup__link:hover {
  background-color: #3e00b9;
}

.purple__boarder {
  display: flex;
  padding: 12px 32px 12px 32px;
  background-color: rgb(100, 21, 255, 1);
  border-radius: 40px; /**/
  overflow: hidden;
}

/* 

Landing page

*/

#landing::before {
  animation: fade-up 450ms backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.two__column--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left__column {
  width: 40%;
}

.left__header {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  line-height: 1.25;
  font-size: 36px;
}

.left__paragraph {
  display: flex;
  color: #243e24;
  font: 16px;
  line-height: 1.5;
  width: 100%;
  max-width: 500px;
  margin: 50px 0px;
  font-size: 16px;
  font-weight: 500;
}

.btn__wrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.left__column--input {
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 100px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #e2e8f0;
  border-radius: 100px;
  width: 100%;
  max-width: 700px;
  background-color: transparent;
  color: #4e4763;
  transition: 300ms ease;
}

.left__column--input:hover {
  border-color: rgba(40, 66, 144, 0.6);
}

.btn {
  width: 160px;
  border-radius: 9999px;
  background-color: #6315ff;
  border-color: #8245fd71;
  text-align: center;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
  transition: 300ms ease;
}

.btn:hover {
  background-color: #8d58f7;
}

.get__started {
  position: absolute;
  padding: 10px 0;
  right: 60px;
  top: 30px;
  text-align: center;
  width: 33%;
  border-radius: 9999px;
  background-color: #6315ff;
  border-color: #8245fd71;
  text-align: center;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
  transition: 300ms ease;
}

.get__started:hover {
  background-color: #3e00b9;
}

.btn__general {
  padding: 10px 0;
  margin-top: 20px;
  margin-right: 80px;
  width: 160px;
  border-radius: 9999px;
  background-color: #6315ff;
  border-color: #8245fd71;
  text-align: center;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
  transition: 300ms ease;
}

.btn__general:hover {
  background-color: #3e00b9;
}

.btn:hover {
  cursor: pointer;
}

.company__logos--container {
}

.Company__title {
  color: rgb(160 174 192);
  padding-bottom: 20px;
  margin-top: 80px;
}

.company__logos {
  width: 100%;
  margin-top: 16px;
  opacity: 0.5;
}

.right__column {
  width: 60%;
  align-items: center;
  justify-content: center;
}

.img--container {
  width: 100%;
  height: 100%;
}

/* 

Features

*/

.features__center {
  align-items: center;
}

.features__title--wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 300px;
  width: 100%;
  max-width: 600px;
}

.page__title {
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
}

.page__tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  margin-bottom: 32px;
  font-weight: 900;
}

.page__lorem {
  margin-top: 32px;
  opacity: 0.5;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  display: flex;
  width: calc(100% / 3);
  height: 100%;
  max-height: 24px;
  margin-bottom: 80px;
  margin-top: 120px;
}

.service__title {
  margin-bottom: 8px;
  font-weight: 900;
  color: black;
}

.service__description {
  display: flex;
  color: #7c8ba1;
  width: 70%;
  line-height: 2;
  margin: 8px 16px 20px 20px;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
}

.service__img {
  padding: 15px;
  height: 60px;
  width: 60px;
  border: 1px solid rgb(226, 232, 240);
  text-align: center;
  border-radius: 99999px;
}

/* 

Quality

*/

.df {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.quality__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.example {
  width: 50%;
}

.description {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.6;
  color: #7c8ba1;
  opacity: 0.5;
}

/* 

Steps

*/

.steps__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example__steps {
  width: 50%;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.step {
  margin-top: 32px;
  display: flex;
}

.step__title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #718096;
  margin: 12px 0px 0px 20px;
  font-weight: 600;
  line-height: 2;
}

.step__number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 600;
  line-height: 1;
}

/* 

Values

*/

.small__para {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.aligner {
  display: flex;
}

.affordable {
  font-size: 16px;
  margin-top: 12px;
  color: #898a8a;
  font-weight: 400;
  padding-right: 12px;
}

.professional {
  font-size: 16px;
  margin-top: 12px;
  color: #898a8a;
  font-weight: 400;
  padding-left: 12px;
}

.aligner__header {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.fa-dollar-sign {
  padding: 8px 10px;
  background-color: #9ae6b4;
  border-radius: 50%;
  color: #a2a9aa;
  margin-right: 12px;
}

.fa-briefcase {
  padding: 8px 10px;
  background-color: #feb2b2;
  border-radius: 50%;
  color: #9b2c2c;
  margin-right: 12px;
}

/* 

Pricing

*/

.pricing__title {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description__pricing {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  line-height: 24px;
  margin: 0 auto;
}

.plans {
  padding-top: 48px;
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  border: 2px solid #d3d5d5;
  margin-left: 12px;
  margin-bottom: 48px;
  max-width: 350px;
  height: auto;
  text-align: center;
  border-radius: 10px;
  text-align: center;
}

.color__top--green {
  height: 14px;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.color__top--red {
  height: 14px;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.individuals h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1a202c;
  margin: 28px 0;
}

.individuals ul li {
  line-height: 48px;
  list-style: none;
}

.plan h2 {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
  margin-top: 48px;
}

.plan h1 {
  font-size: 48px;
  color: #1a202c;
  margin: 16px 0px;
  font-weight: 800;
}

.banner h3 {
  font-size: 18px;
  font-weight: 700;
  color: #898a8a;
  margin-bottom: 28px;
}

.price__button {
  font-size: 14px;
  font-weight: 600;
  padding: 16px 48px;
  border-radius: 50px;
  border: none;
  margin: 24px 0px;
}

.buy__card1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: white;
}

.small__businesses {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.c2 h3 {
  color: white;
}
.c2 h1 {
  color: white;
}
.c2 h2 {
  color: white;
}

.c2 li {
  color: white;
}

.buy__card2 {
  color: #6416ff;
  background-color: white;
}

.buy__card3 {
  color: white;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.c2 {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

/* 

Testimonial

*/

.testimonial__wrapper {
  width: 100%;
  display: flex;
}

.testimonial__img {
  width: 50%;
  margin-right: 64px;
}

.testimonial__text--wrapper {
  width: 50%;
}

.Test__description {
  margin-bottom: 48px;
}

.test__card {
  padding: 15px;
  border: 1px solid rgb(234, 232, 232);
  border-radius: 10px;
}

.test__card--wrappr {
  margin-top: 24px;
}

.stars {
  margin-bottom: 12px;
}

.test__card--title {
  font-size: 20px;
  margin-bottom: 16px;
}

.test__card--desc {
  font-size: 16px;
}

.test--user {
  display: flex;
  align-items: center;
}

.profile-img {
  margin: 24px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 9999px;
  width: 80px;
}

.move__btn {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}

.divider {
  background-color: #898a8a;
  height: 20px;
  width: 1px;
}

.Back,
.Front {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 0px 5px;
  border: none;
  color: #6416ff;
  font-size: 16px;
  font-weight: 700;
}

/* 

CTA

*/

.box {
  background-color: #6416ff;
  width: 1060px;
  height: 282px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.left__text {
  font-size: 30px;
  font-weight: 800;
  color: white;
  max-width: 35rem;
}

.btn__wrapper {
  display: flex;
}

.btn__wrapper,
.orange,
.btn__transparent {
  padding: 20px 50px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.orange {
  border: none;
  background-color: #f56565;
  margin-right: 10px;
}

.btn__transparent {
  border: 1px solid white;
  background-color: transparent;
  margin-left: 10px;
}

/* 

Footer

*/

footer {
  min-height: 60vh;
  background-color: #6416ff;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.link__wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  justify-content: space-between;
}

.link__title {
  margin-right: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 38px;
}

.link {
  list-style-type: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 3;
  margin: 0px 40px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #004e97;
  color: white;
  transition: all 300ms ease;
}

/* animation hover */

.split {
  margin: 48px;
  background-color: rgb(246, 246, 246);
  height: 0.2px;
  width: 90%;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.company {
  display: flex;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.company img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.copyright {
  color: white;
  font-weight: 400;
}

.social__media {
  display: flex;
  width: 16%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.logoo {
  height: 48px;
  width: 48px;
  font-size: 28px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 1200px) {
  .row {
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
  }

  .fas .fa-bars {
    font-weight: 900;
  }

  .btn__menu {
    opacity: 1;
    color: #8d58f7;
    font-size: 40px;
    text-align: center;
    border: none;
    background: transparent;
  }

  .nav__links {
    display: none;
  }

  .plans {
    align-items: center;
    justify-content: center;
  }

  .description__pricing {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }

  .testimonial__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  #h1 {
    align-items: center;
    justify-content: center;
  }

  h2 {
    align-items: center;
    justify-content: center;
  }

  p {
    align-items: center;
    justify-content: center;
  }

  .left__column--input {
    align-items: center;
    position: relative;
    font-size: 16px;
    padding-right: 10px;
  }

  .get__started {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 65%;
  }

  .features__title--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 100%;
  }

  .service {
    width: calc(100% / 2);
  }

  .df {
    flex-direction: column;
  }

  .example {
    padding-top: 20px;
  }

  .steps__container {
    flex-direction: column;
  }

  .example__steps {
    padding-bottom: 28px;
  }

  .two__column--container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .right__column {
    padding-top: 24px;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }

  footer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .btn__general {
    align-items: center;
    justify-content: center;
  }
}

/* small phones, tablets*/

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    padding: 0 12px;
  }

  .left__column {
    text-align: center;
    font-size: 40px;
  }

  .page__tagline {
    text-align: center;
    font-size: 40px;
  }

  h2 {
    text-align: center;
    font-size: 20px;
  }

  h3 {
    text-align: center;
    font-size: 16px;
  }

  p {
    text-align: center;
    font-size: 12px;
    width: 100%;
  }

  .services__wrapper {
    flex-wrap: wrap;
  }
}

/* phones, tablets*/

@media (max-width: 550px) {
  .plan {
    width: 100%;
  }

  .left__text {
    font-size: 20px;
  }

  .orange {
    font-size: 10px;
    padding: 10px 15px;
  }
  .btn__transparent {
    font-size: 10px;
    padding: 10px 15px;
  }
}
